body {
  background: #252525;
}

header {
  margin:50px 0 0 0;
  div {
    display: flex;
    justify-content: space-around;
    img {

    }
  }
  nav {
    ul {
      margin:200px 0 0 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      transition-duration: 0.5s;
      li {
        font-family: "Open Sans", roboto, arial;
        color: #FFFFFF;
        font-size: 26px;
        text-transform: uppercase;
        transition: all ease-in-out 0.5s;

        a {
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }
  }
}

.not-hovered{
  text-decoration: line-through;
  transition-duration: 0.5s;
}
